@import './base';

div {
    color: blue;
    width: 500px;
    height: 500px;
    display: flex;
    background: url('./assets/images/1.jpg') no-repeat;
    .p {
        font-size: 30px;
        color: black;
    }
}